/* Styles for primo-explore-help-menu: MW 20190409 */

#search-help-menu-content h2 {
  font-weight: 500;
}

#search-help-menu-content h3 {
  font-weight: 400;
}

#search-help-menu-content img {
  border: 2px solid var(--color-secondary-background-dark, #999999);
  border-radius: 4px;
  margin: 10px;
  max-width: 95%;
  padding: 10px;
}

a.helpMenu--location-button {
  background-color: var(--color-button-background, #22647b);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  color: #ffffff;
  padding: 6px;
  text-transform: uppercase;
}

div.helpMenu--location {
  padding-bottom: 10px;
}

help-menu-topbar {
  --notification-indicator-display: none;
  --notification-indicator-color: var(--color-accent-red-background, red);
}

help-menu-topbar .notification-indicator {
  background-color: var(--notification-indicator-color, red);
  border-radius: 50%;
  display: var(--notification-indicator-display, none);
  height: 10px;
  margin-left: 32px;
  position: absolute;
  top: 17px;
  width: 10px;
}
