@media (min-width: 1280px) and (max-width: 1919px) {
    .flex-lg-25, .layout-row>.flex-lg-25 {
      flex: 1 1 100%;
      max-width: 15%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
  