/* magnifying glass and load more */
.md-button.button-confirm {
  color: #263645;
  &:hover {
    &:not([disabled]) {
      color: #010304;
      background-color: rgba(38, 54, 69, 0.1);
    }
  }
  &:focus {
    &:not([disabled]) {
      color: #010304;
      background-color: rgba(38, 54, 69, 0.1);
    }
  }
}
.service-form-static-panel {
  button.button-confirm {
    prm-icon + span {
      color: #263645;
      &:hover {
        &:not([disabled]) {
          color: #010304;
          background-color: rgba(38, 54, 69, 0.1);
        }
      }
      &:focus {
        &:not([disabled]) {
          color: #010304;
          background-color: rgba(38, 54, 69, 0.1);
        }
      }
    }
    prm-icon {
      svg {
        path {
          color: #263645;
          &:hover {
            &:not([disabled]) {
              color: #010304;
              background-color: rgba(38, 54, 69, 0.1);
            }
          }
          &:focus {
            &:not([disabled]) {
              color: #010304;
              background-color: rgba(38, 54, 69, 0.1);
            }
          }
        }
        path.hovered {
          &:not([disabled]) {
            color: #010304;
            background-color: rgba(38, 54, 69, 0.1);
          }
        }
        path.md-focused {
          &:not([disabled]) {
            color: #010304;
            background-color: rgba(38, 54, 69, 0.1);
          }
        }
        path._md-focused {
          &:not([disabled]) {
            color: #010304;
            background-color: rgba(38, 54, 69, 0.1);
          }
        }
      }
    }
    prm-icon + span.hovered {
      &:not([disabled]) {
        color: #010304;
        background-color: rgba(38, 54, 69, 0.1);
      }
    }
    prm-icon + span.md-focused {
      &:not([disabled]) {
        color: #010304;
        background-color: rgba(38, 54, 69, 0.1);
      }
    }
    prm-icon + span._md-focused {
      &:not([disabled]) {
        color: #010304;
        background-color: rgba(38, 54, 69, 0.1);
      }
    }
  }
}
.md-button.button-confirm.hovered {
  &:not([disabled]) {
    color: #010304;
    background-color: rgba(38, 54, 69, 0.1);
  }
}
.md-button.button-confirm.md-focused {
  &:not([disabled]) {
    color: #010304;
    background-color: rgba(38, 54, 69, 0.1);
  }
}
.md-button.button-confirm._md-focused {
  &:not([disabled]) {
    color: #010304;
    background-color: rgba(38, 54, 69, 0.1);
  }
}
